<h1>books list</h1>
<hr>
<% docs.forEach(book => {%>
	<p class = "Title">Title: <%= book.Title %></p>
	<p class = "Author">Author: <%= book.Author %></p>
	<p class = "Date Published">Date_Published: <%= book.Date_Published %></p>
	<p class = "Publisher">Publisher: <%= book.Publisher %></p>
	<p class = "Genre">Genre: <%= book.Genre %></p>
	<p class = "Description">Description: <%= book.Description %></p>
	<p class = "Price">Price: <%= book.Price %></p>
	<hr>
<% })%>