<!DOCTYPE html>
<html>
    <nav role="navigation">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a href="/">Home</a>
            </li>
        </ul> 
    </nav>
    <head>
        <% include partials/header.ejs %>
        <h1 align="center">BOOK DETAILS</h1>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
    </head>

    <body class="container-fluid">
        <main>
            <div class="container-fluid">
                <!-- Beginning of the cart -->
                <div class="row">
                    <div class="col-xs-9 col-md-7">        
                        <div class="jumbotron">  
                            <div class="book">  
                                <% book.forEach(book => {%>  
                                    <!-- main table --> 
                                    <table style width="100%">
                                        <tr>
                                            <!-- Book title -->
                                            <h5 class="title" >Title: <%= book.Title %> </h5>
                                            <th> 
                                                <!-- Book Author -->
                                                <div class="product-author">
                                                    <p class="author">Author: <%= book.Author %></p>
                                                </div>
                                                <!-- Book cover -->
                                                <div class="product-cover">
                                                    <img src = <%= book.Cover %> width="80" height="100" title="" />    
												</div> 
												 <!-- Book price -->
												 <div class="product-price">
                                                    <p class="price">Price: $<%= book.Price %></p>
												</div>
												<!-- Book Description -->
												<div class="product-description">
                                                    <h3 class="description" >Description:</h3>
                                                    <p class="description" > <%= book.Description %></p>
												</div>
												 <!-- Book ISBN -->
												 <div class="product-ISBN">
                                                    <p class="ISBN">ISBN: <%= book.ISBN %></p>
												</div> 
												 <!-- Book Genre -->
												 <div class="product-genre">
                                                    <p class="genre">Genre: <%= book.Genre %></p>
												</div>
												 <!-- Book AvgReview -->
												 <div class="product-rating">
                                                    <p class="AvgReview">Average Rating: <%= book.AvgReview %></p>
												</div>
												<!-- Book Publisher -->
												<div class="product-publisher">
                                                    <p class="publisher">Publisher: <%= book.Publisher %></p>
												</div>
												<!-- Book Publication Date -->
												<div class="product-publication-date">
                                                    <p class="publication-date">Date Published: <%= book.PublicationDate %></p>
												</div>                                    
											</th>
                                        </tr>
                                    </table> 
                                <% })%>
                            </div> 
                        </div>
                    </div>                              
        </main>
        <% include partials/footer.ejs %>
    </body>
</html>