<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header.ejs %>
    <title>Profile Page | WebApp</title>
</head>
<body>
    
    <div class="center">
    <h1>Profile</h1>
    
        <h5><strong>Login Credentials</strong></h5>
        Email:<br>
        <p><%= user[0].Email %></p>
        Password:<br>
        <p><%= user[0].Password %></p>

        <h5><strong>Personal Information</strong></h5>
        First Name:<br>
        <p><%= user[0].First_Name %></p>
        Last Name:<br>
        <p><%= user[0].Last_Name %></p>
        Home Address:<br>
        <p><%= user[0].Home_Address %></p>
        City:<br>
        <p><%= user[0].Home_City %></p>
        State/Province/Region:<br>
        <p><%= user[0].Home_State %></p>
        ZIP/Postal Code:<br>
        <p><%= user[0].Home_Zip %></p>
        Country:<br>
        <p><%= user[0].Home_Country %></p>

        <h5><strong>Nickname</strong></h5>
        <p><%= user[0].Nickname %></p>
        
        <h5><strong>Credit Card Information</strong></h5>
        Owner:<br>
        <p><%= user[0].Credit_Owner %></p>
        CVV:<br>
        <p><%= user[0].CVV %></p>
        Card Number:<br>
        <p><%= user[0].Credit_Card %></p>
        Expiration Date:<br>
        <p><%= user[0].Exp_Date %></p>

        Owner 2:<br>
        <p><%= user[0].Credit_Owner2 %></p>
        CVV:<br>
        <p><%= user[0].CVV2 %></p>
        Card Number:<br>
        <p><%= user[0].Credit_Card2 %></p>
        Expiration Date:<br>
        <p><%= user[0].Exp_Date2 %></p>

        Owner 3:<br>
        <p><%= user[0].Credit_Owner3 %></p>
        CVV:<br>
        <p><%= user[0].CVV3 %></p>
        Card Number:<br>
        <p><%= user[0].Credit_Card3 %></p>
        Expiration Date:<br>
        <p><%= user[0].Exp_Date3 %></p>

        <h5><strong>Shipping</strong></h5>
        Shipping Address:<br>
        <p><%= user[0].Ship_Address %></p>
        City:<br>
        <p><%= user[0].Ship_City %></p>
        State/Province/Region:<br>
        <p><%= user[0].Ship_State %></p>
        ZIP/Postal Code:<br>
        <p><%= user[0].Ship_Zip %></p>
        Country:<br>
        <p><%= user[0].Ship_Country %></p>
        
        Shipping Address 2:<br>
        <p><%= user[0].Ship_Address2 %></p>
        City:<br>
        <p><%= user[0].Ship_City2 %></p>
        State/Province/Region:<br>
        <p><%= user[0].Ship_State2 %></p>
        ZIP/Postal Code:<br>
        <p><%= user[0].Ship_Zip2 %></p>
        Country:<br>
        <p><%= user[0].Ship_Country2 %></p>

        Shipping Address 3:<br>
        <p><%= user[0].Ship_Address3 %></p>
        City:<br>
        <p><%= user[0].Ship_City3 %></p>
        State/Province/Region:<br>
        <p><%= user[0].Ship_State3 %></p>
        ZIP/Postal Code:<br>
        <p><%= user[0].Ship_Zip3 %></p>
        Country:<br>
        <p><%= user[0].Ship_Country3 %></p>
        
        <button class="btn btn-default" id="edit_profile"><a href="/editProfile">Edit Profile</a></button>

    <footer>
        <% include partials/footer %>
    </footer>
</div>
</body>
</html>