<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header.ejs %>
    <title>Profile Page | WebApp</title>
</head>
<body>
    
    <div class="center">
    <h1>Profile</h1>
        <br>
        <h5><strong>Login Credentials</strong></h5>
        <strong>Email:</strong><br>
        <p><%= user[0].Email %></p>
        <strong>Password:</strong><br>
        <p><%= user[0].Password %></p><br>

        <h5><strong>Personal Information</strong></h5>
        <strong>First Name:</strong><br>
        <p><%= user[0].First_Name %></p>
        <strong>Last Name:</strong><br>
        <p><%= user[0].Last_Name %></p>
        <strong>Home Address:</strong><br>
        <p><%= user[0].Home_Address %></p>
        <strong>City:</strong><br>
        <p><%= user[0].Home_City %></p>
        <strong>State/Province/Region:</strong><br>
        <p><%= user[0].Home_State %></p>
        <strong>ZIP/Postal Code:</strong><br>
        <p><%= user[0].Home_Zip %></p>
        <strong>Country:</strong><br>
        <p><%= user[0].Home_Country %></p><br>

        <h5><strong>Nickname</strong></h5>
        <p><%= user[0].Nickname %></p><br>
        
        <h5><strong>Credit Card Information</strong></h5>
        <strong>Owner:</strong><br>
        <p><%= user[0].Credit_Owner %></p>
        <strong>CVV:</strong><br>
        <p><%= user[0].CVV %></p>
        <strong>Card Number:</strong><br>
        <p><%= user[0].Credit_Card %></p>
        <strong>Expiration Date:</strong><br>
        <p><%= user[0].Exp_Date %></p><br>

        <strong>Owner 2:</strong><br>
        <p><%= user[0].Credit_Owner2 %></p>
        <strong>CVV:</strong><br>
        <p><%= user[0].CVV2 %></p>
        <strong>Card Number:</strong><br>
        <p><%= user[0].Credit_Card2 %></p>
        <strong>Expiration Date:</strong><br>
        <p><%= user[0].Exp_Date2 %></p><br>

        <strong>Owner 3:</strong><br>
        <p><%= user[0].Credit_Owner3 %></p>
        <strong>CVV:</strong><br>
        <p><%= user[0].CVV3 %></p>
        <strong>Card Number:</strong><br>
        <p><%= user[0].Credit_Card3 %></p>
        <strong>Expiration Date:</strong><br>
        <p><%= user[0].Exp_Date3 %></p><br>

        <h5><strong>Shipping</strong></h5>
        <strong>Shipping Address:</strong><br>
        <p><%= user[0].Ship_Address %></p>
        <strong>City:</strong><br>
        <p><%= user[0].Ship_City %></p>
        <strong>State/Province/Region:</strong><br>
        <p><%= user[0].Ship_State %></p>
        <strong>ZIP/Postal Code:</strong><br>
        <p><%= user[0].Ship_Zip %></p>
        <strong>Country:</strong><br>
        <p><%= user[0].Ship_Country %></p><br>
        
        <strong>Shipping Address 2:</strong><br>
        <p><%= user[0].Ship_Address2 %></p>
        <strong>City:</strong><br>
        <p><%= user[0].Ship_City2 %></p>
        <strong>State/Province/Region:</strong><br>
        <p><%= user[0].Ship_State2 %></p>
        <strong>ZIP/Postal Code:</strong><br>
        <p><%= user[0].Ship_Zip2 %></p>
        <strong>Country:</strong><br>
        <p><%= user[0].Ship_Country2 %></p><br>

        <strong>Shipping Address 3:</strong><br>
        <p><%= user[0].Ship_Address3 %></p>
        <strong>City:</strong><br>
        <p><%= user[0].Ship_City3 %></p>
        <strong>State/Province/Region:</strong><br>
        <p><%= user[0].Ship_State3 %></p>
        <strong>ZIP/Postal Code:</strong><br>
        <p><%= user[0].Ship_Zip3 %></p>
        <strong>Country:</strong><br>
        <p><%= user[0].Ship_Country3 %></p><br>
        
        <button class="btn btn-default" id="edit_profile"><a href="/editProfile">Edit Profile</a></button>

    <footer>
        <% include partials/footer %>
    </footer>
</div>
</body>
</html>